# .env 파일 구성

# === 공공데이터 API ===
SAFEMAP_API_KEY=여기에_발급받은_생활안전지도_키

# === 카카오맵 API ===
KAKAO_MAP_API_KEY=여기에_카카오맵_JS_키

# 카카오 REST API 키
KAKAO_API_KEY=

# 카카오 JS API 키 


# === Django ===
SECRET_KEY=여기에_django_시크릿키
DEBUG=True
