<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Left Panel</title>
    <link rel="stylesheet" href="leftPanel.css" />
  </head>
  <body>
    <div class="left-panel-wrapper">
      <div class="filter-box">
  <div class="filter-header">
    <h4>안전 정보 필터</h4>
    <span class="reset-btn">초기화</span>
  </div>

  <div class="filter-item">
    <div class="filter-item-left">
      <img src="./leftPanel-images/cctv.png" alt="CCTV" />
      <span>CCTV</span>
    </div>
    <label class="custom-checkbox">
    <input type="checkbox" id="filter-cctv" checked />
    <span class="checkbox-box"></span>
    <img src="./leftPanel-images/check.svg" class="checkbox-icon" alt="체크됨" />
  </label>
  </div>

  <div class="filter-item">
    <div class="filter-item-left">
      <img src="./leftPanel-images/streetlight.png" alt="가로등" />
      <span>가로등</span>
    </div>
    <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkbox-box"></span>
    <img src="./leftPanel-images/check.svg" class="checkbox-icon" alt="체크됨" />
  </label>
  </div>

  <div class="filter-item">
    <div class="filter-item-left">
      <img src="./leftPanel-images/police.png" alt="파출소/지구대" />
      <span>파출소 / 지구대</span>
    </div>
    <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkbox-box"></span>
    <img src="./leftPanel-images/check.svg" class="checkbox-icon" alt="체크됨" />
  </label>
  </div>

  <div class="filter-item">
    <div class="filter-item-left">
      <img src="./leftPanel-images/alarm.png" alt="비상벨" />
      <span>비상벨</span>
    </div>
    <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkbox-box"></span>
    <img src="./leftPanel-images/check.svg" class="checkbox-icon" alt="체크됨" />
  </label>
  </div>

  <div class="filter-item">
    <div class="filter-item-left">
      <img src="./leftPanel-images/warning.png" alt="범죄주의구간" />
      <span>범죄주의구간</span>
    </div>
    <label class="custom-checkbox">
    <input type="checkbox" />
    <span class="checkbox-box"></span>
    <img src="./leftPanel-images/check.svg" class="checkbox-icon" alt="체크됨" />
  </label>
  </div>
</div>

      <div class="legend-box">
        <h4>안전 점수 범례</h4>
        <div class="legend-gradient">
          <span class="legend-cell" style="background:#1077FF"></span>
          <span class="legend-cell" style="background:#1D9BFE"></span>
          <span class="legend-cell" style="background:#48B7FF"></span>
          <span class="legend-cell" style="background:#6DC6FF"></span>
          <span class="legend-cell" style="background:#9BD9FF"></span>
          <span class="legend-cell" style="background:#C4ECFE"></span>
          <span class="legend-cell" style="background:#E9FFFF"></span>
        </div>
        <div class="legend-labels">
          <span>매우 안전</span>
          <span>주의 필요</span>
        </div>
      </div>

      <div class="guide-box">
        <div class="guide-header">
          <h4>사용 가이드</h4>
          <span class="close-icon">✕</span>
        </div>
        <p>지도를 클릭하거나 드래그하여 원하는 지역을 탐색해보세요.</p>
      </div>
    </div>

    <div class="notice-box">
        <h4>안내</h4>
        <p>본 정보는 공공데이터와 사용자 후기를 기반으로 한 참고 자료이며, 특정 지역을 위험 지역으로 단정하지 않습니다.</p>
    </div>

    <script src="./leftPanel.js"></script>
  </body>
</html>